h1{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 16px;
}

h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
}
a {
  text-decoration: none;
  color: black;
}

i{
  font-size: 22px;
  
}