
.resto{

  background-color: white;

  header{
    
    .logo{
      display: flex;
      justify-content: center;
      margin: 14px;
      position: relative;
      align-items: center;

      a{
        position: absolute;
        left: 0px;
        height: 16px;
        z-index: 2;
      }

    }

    > img{
      width: 100%;
      height: auto;
      max-height: 380px;
      object-fit:cover;
    }
  }
}