.resto {
    position: relative;
    display: flex;
    flex-direction: column;

    main {
        margin: -40px 0px 0px 0px;
        padding: 40px 12px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        top: 270px;
        background-color: white;


        .resto__name {

            display: flex;
            align-items: center;
            gap: 40px;

            h1 {
                font-family: 'Shrikhand';
                font-size: 28px;
                font-weight: 400;
                margin: 0px;
            }
        }


        .entre {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h2 {
                margin: 0;
                font-weight: 300;
                font-size: 16px;
                padding-bottom: 8px;
                border-bottom: solid 3px rgba(153, 226, 208, 1);
                border-image: linear-gradient(to right, rgba(153, 226, 208, 1) 40px, transparent 0%) 100% 1;
            }

            .card {
                padding: 16px;
                border-radius: 20px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

                div{
                    display: flex;
                    justify-content: space-between;

                    > p{
                        font-weight: 300;
                        font-size: 15px;
                    }

                    .price{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }

        button{
            padding: 16px 48px;
        }
    }


}