footer {
    background-color: rgba(53, 53, 53, 1);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


    .footer__logo {
        font-family: Shrikhand;
        color: white;
        font-size: 18px;
    }


    p {
        font-family: roboto;
        color: white;
    }

    .list__img {
        display: flex;
        gap: 12px;
    }

    a {
        border-bottom: solid 2px rgba(255, 192, 203, 0) ;
        transition: all .5s ease-in-out;


        &:hover{
            border-bottom: solid 2px rgb(220, 86, 213) ;
        }
    }
}