header {
  .header {

    display: flex;
    padding: 14px 18px;

    &__logo {
      width: 162px;
      margin: 0 auto;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 18px;
    background: var(--Grey-2, $color-bg);

    &__picto {
      width: 12px;
    }
  }
}