.hero{
  display: flex;
  flex-direction: column;
  margin: 40px auto 60px ;
  gap: 20px;
  padding: 0 34px;

  p{
    margin-top: 18px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}